@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;600&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}

body{
    font-family: 'Encode Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.head{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.head::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/vegan.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 100%, 0 100%);
    z-index: -1;
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 300px;
}

.nav-items{
    list-style: none;
    font-size: 20px;
}

.nav-link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav-links{
    color: white;
    text-decoration: none;
}

.nav-menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.head-container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.head-titulo{
    font-size: 3rem;
}

.head-parrafo{
    margin-bottom: 20px;
    font-size: 20px;
}

.comnow{
   display: inline-block;
   background-color: darkorange;
   justify-self: center;
   color: white;
   text-decoration: none;
   padding: 13px 30px;
   border-radius: 32px;
}

.contenedor{
    background-color: #ecd2dd;
    background-image: radial-gradient(#090909 0.5px, #ecd2dd 0.5px);
    background-size: 8px 8px;
    overflow: hidden;
    text-align: center;
}

.recetas{
    background-color: #e5e5f7;
}

.recetas__contenedor{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.recetas__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.recetas__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.recetas__img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.recetas__texto{
    max-width: 700px;
}

.recetas__flecha{
    width: 90%;
    cursor: pointer; 
}

.footer{
    background-color: rgb(190, 183, 183);
}

.footer_titulo{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px
}

.footer_titulo, .footer_newsletter{
    color: black;
}

.footer_contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav-link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_nav-items{
    color: black;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input{
    background-color: white;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: black;
    border: none;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
}

.footer_copy{
    --padding-contenedor: 30px 0;
    text-align: center;
    color: white;
}

.footer_icono{
    margin-bottom: 10px;
}

.footer_img{
width: 30px;
}